/* Importación de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CO:wght@100..400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Single+Day&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Patua+One&family=Playwrite+CO:wght@100..400&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* Estilos globales */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/*---------- PARTE HEADER ----------*/
.header {
    color: white;
    position: relative;
    width: 100%;
    height: calc(108vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
    z-index: -1; /* Pone el fondo detrás del contenido */
}

.header h1 {
    font-family: "Angkor", serif;
    font-size: 7vw;
    margin: 10px 0 0 0;
    color:white;
    margin-top: -20px;

}

.header h2 {
    font-family: "Playwrite CO", cursive;
    font-size: 3vw;
    margin-top: -20px;
    padding: 12px;
}

.header .highlight {
    color: #FFD700;
    font-family: "Creepster", system-ui;
    font-size: 13vw;
}

/* Título de los eventos destacados */
.featured-events-title h1 {
    font-size: 3vw;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: "Lilita One", serif;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 60px;
}

/* Estilos para el contenido */
.contenido {
    background-size: cover; /* Hace que el fondo cubra el área sin distorsionarse */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: scroll; /* Hace que la imagen se desplace con el contenido */
    width: 100%;
    margin-top: -10px;
}

/* Estilos para el carrusel */
.carousel {
    width: 90%;          /* Ajusta el ancho del contenedor */
    max-width: 1700px;   /* Ancho máximo */
    margin: auto;        /* Centra el contenedor */
    padding: 0;          /* Ajusta el padding a 0 */
    border: 8px solid #ffffff; /* Borde blanco */
    border-radius: 6px;  /* Redondea las esquinas */
    margin-top: 60px;
    margin-bottom: 60px;
}

.carousel .carousel-item img {
    object-fit: cover;   /* Asegura que las imágenes cubran todo el espacio del carrusel */
    height: 100%;       /* Ajusta la altura de las imágenes */

}

/* Medios de comunicación (pantallas pequeñas) */
@media (max-width: 768px) {
    .header h1 {
        font-size: 2em;
    }

    .header h2 {
        font-size: 1em;
    }

    /* .carousel .carousel-item img {
        height: 250px;  */
    }
